.not-cooking {
  color: grey;
}

.not-cooking a {
  color: grey;
}

.chef-item {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 250px;
  padding: 4px;
  margin: 5px;
}

.chef-item .title-bar {
  font-size: 1.3em;
}

.chef-item .description {
  padding: 8px;
}

.img-icon {
  max-width: 64px;
  max-width: 64px;
  padding: 5px;
}

.description {
  min-height: 70px;
}
